List:
-----

1. List is collection of Data Type
2. List are Declare [] - square brackets
3. List are mutable (changable)
4. List Values are store in a single variable - Using Index

In [2]:
names = ['Sara', 'Ram', 'Sam']

print(names, type(names))

['Sara', 'Ram', 'Sam'] <class 'list'>

In [3]:
details = [101, 'Sara', 22]

print(details, type(details))

[101, 'Sara', 22] <class 'list'>

Value Selection Using Index 
---------------------------

In [6]:
details = [101, 'Sara', 22]

print(details)

print('----------------------------------------------------------')

print(details[0])

print(details[0:2])

[101, 'Sara', 22]
----------------------------------------------------------
101
[101, 'Sara']

Append:
-------

In [7]:
details = [101, 'Sara', 22]

print(details)

print('----------------------------------------------------------')

details.append('Male')

print(details)

[101, 'Sara', 22]
----------------------------------------------------------
[101, 'Sara', 22, 'Male']

Extend:
-------

In [10]:
details01 = [101, 'Sara', 22]

print(details01)

print('----------------------------------------------------------')

details02 = ['Male', 950012258]

print(details02)

print('----------------------------------------------------------')

details01.extend(details02)

print(details01)

[101, 'Sara', 22]
----------------------------------------------------------
['Male', 950012258]
----------------------------------------------------------
[101, 'Sara', 22, 'Male', 950012258]

Insert:
-------

In [11]:
details01 = [101, 'Sara', 22]

print(details01)

print('----------------------------------------------------------')

# listVariable.insert(indexPosition, value)

details01.insert(2, 'Male')

print(details01)

[101, 'Sara', 22]
----------------------------------------------------------
[101, 'Sara', 'Male', 22]

Remove:
-------

In [13]:
details = [101, 'Sara', 22]

print(details)

print('----------------------------------------------------------')

details.remove('Sara')

print(details)

[101, 'Sara', 22]
----------------------------------------------------------
[101, 22]

Pop:
----

In [14]:
details = [101, 'Sara', 22]

print(details)

print('----------------------------------------------------------')

details.pop()

print(details)

[101, 'Sara', 22]
----------------------------------------------------------
[101, 'Sara']

Min, Max, Sum
-------------

In [15]:
ageValues = [18, 12, 20, 15, 16, 25, 22, 27, 24, 30, 28]

print(ageValues)

print('----------------------------------------------------')

print(min(ageValues))

print(max(ageValues))

print(sum(ageValues))

[18, 12, 20, 15, 16, 25, 22, 27, 24, 30, 28]
----------------------------------------------------
12
30
237

Sort:
-----

In [18]:
ageValues = [18, 12, 20, 15, 16, 25, 22, 27, 24, 30, 28]

print(ageValues)

print('----------------------------------------------------')

ageValues.sort()

print(ageValues)

print('----------------------------------------------------')

ageValues.sort(reverse = True)

print(ageValues)

[18, 12, 20, 15, 16, 25, 22, 27, 24, 30, 28]
----------------------------------------------------
[12, 15, 16, 18, 20, 22, 24, 25, 27, 28, 30]
----------------------------------------------------
[30, 28, 27, 25, 24, 22, 20, 18, 16, 15, 12]

Count, Find, Len:
-----------------

In [23]:
ageValues = [18, 12, 20, 15, 16, 25, 22, 27, 24, 30, 28, 18, 20, 18]

print(ageValues)

print('----------------------------------------------------')


print('Count : ', ageValues.count(18))

print('Find Index Position: ', ageValues.index(18))

print(len(ageValues))

[18, 12, 20, 15, 16, 25, 22, 27, 24, 30, 28, 18, 20, 18]
----------------------------------------------------
Count :  3
Find Index Position:  0
14