Set:
------
1. Set is collection of Data Type
2. Set are Declare {} - Curly Braces
3. Set are used to remove douplicate values
4. Set Values are store in a single variable - Using non Index

In [3]:
details = {101, 'Sara', 22, 101, 22, 'Sara', 'Male'}

print(details, type(details))

{'Male', 'Sara', 101, 22} <class 'set'>

add
---

In [6]:
details = {101, 'Sara', 22, 101, 22, 'Sara', 'Male'}

print(details, type(details))

print('--------------------------------------------')

details.add(9500912258)

print(details)

{'Male', 'Sara', 101, 22} <class 'set'>
--------------------------------------------
{9500912258, 101, 'Male', 22, 'Sara'}

Update
------

In [8]:
details01 = {101, 'Sara', 22}

print(details01)

print('----------------------------------------------------------')

details02 = {'Male', 950012258}

print(details02)

print('----------------------------------------------------------')

details01.update(details02)

print(details01)

{'Sara', 101, 22}
----------------------------------------------------------
{'Male', 950012258}
----------------------------------------------------------
{'Male', 950012258, 101, 22, 'Sara'}

Discard
-------

In [12]:
details = {101, 'Sara', 22, 101, 22, 'Sara', 'Male'}

print(details, type(details))

print('--------------------------------------------')

details.discard('Sara')

print(details)

print('--------------------------------------------')

details.discard(9500912258)

print(details)

{'Male', 'Sara', 101, 22} <class 'set'>
--------------------------------------------
{'Male', 101, 22}
--------------------------------------------
{'Male', 101, 22}

Remove
------

In [13]:
details = {101, 'Sara', 22, 101, 22, 'Sara', 'Male'}

print(details, type(details))

print('--------------------------------------------')

details.remove('Sara')

print(details)

print('--------------------------------------------')

details.remove(9500912258)

print(details)

{'Male', 'Sara', 101, 22} <class 'set'>
--------------------------------------------
{'Male', 101, 22}
--------------------------------------------

KeyError: 9500912258

Union, intersection, semmytric Difference
--------------------------------------

In [19]:
a = {1, 2, 2, 3, 4, 7, 8}

b = {2, 3, 5, 6, 9, 10}

print('--------------------------------')

print(a)

print(b)

print('--------------------------------')

# union

u = a.union(b)

print(u)

print('--------------------------------')

# intersection

i = a.intersection(b)

print(i)

print('--------------------------------')

# symmetric_difference

s = a.symmetric_difference(b)

print(s)

--------------------------------
{1, 2, 3, 4, 7, 8}
{2, 3, 5, 6, 9, 10}
--------------------------------
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
--------------------------------
{2, 3}
--------------------------------
{1, 4, 5, 6, 7, 8, 9, 10}