Python Oops:
------------

Class
-----

In [1]:
class Student:
    name = 'Sara'
    age = 25

In [4]:
print(Student.name)
print(Student.age)

Sara
25

Object
------

In [15]:
class Student:
    name = 'Student Name'
    age = 0

In [16]:
studObject01 = Student()

print(studObject01.name, ' your age is ', studObject01.age)

studObject01.name = 'Sara'
studObject01.age = 26

print(studObject01.name, ' your age is ', studObject01.age)

Student Name  your age is  0
Sara  your age is  26

In [17]:
studObject02 = Student()

print(studObject02.name, ' your age is ', studObject02.age)

studObject02.name = 'Thara'
studObject02.age = 22

print(studObject02.name, ' your age is ', studObject02.age)

Student Name  your age is  0
Thara  your age is  22

In [18]:
studObject03 = Student()

print(studObject03.name, ' your age is ', studObject03.age)

studObject03.name = 'Lara'
studObject03.age = 23

print(studObject03.name, ' your age is ', studObject03.age)

Student Name  your age is  0
Lara  your age is  23

# Class Function
----------------

In [21]:
class Student:
    name = 'Sara'
    age = 25

    def display():
        print(Student.name, ' your age is ', Student.age)

In [22]:
# Call the class Function

Student.display()

Sara  your age is  25

Object's class Function
-----------------------

In [28]:
class Student:
    name = 'Sara'
    age = 25

    def display(self):
        print(self.name, ' your age is ', self.age)

In [29]:
# call the class function using object

sObject01 = Student()

sObject01.display()

sObject01.name = 'Thara'
sObject01.age = 22

sObject01.display()

Sara  your age is  25
Thara  your age is  22

In [30]:
# call the class function using object

sObject02 = Student()

sObject02.display()

sObject02.name = 'Lara'
sObject02.age = 26

sObject02.display()

Sara  your age is  25
Lara  your age is  26

__init__ - method
-----------------

In [35]:
# __init__ Method, Constructor method for value Intialization

class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('Value Assign Successfully!..')

    def display(self):
        print(self.name, ' your age is ', self.age)

In [37]:
sObject01 = Student('Sara', 25)

sObject01.display()

Value Assign Successfully!..
Sara  your age is  25

In [38]:
sObject02 = Student('Thara', 22)

sObject02.display()

Value Assign Successfully!..
Thara  your age is  22